@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;1,400;1,500&display=swap');
body {
  position: relative;
  background: #f9f9fb;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul,
ol {
  list-style: none;
}


/*Menu*/

.navbar-nav .nav-item a {
  color: #050748 !important;
  text-transform: uppercase;
  /*font-family: "Montserrat";*/
/*  font-weight: 500;*/
  
}

.navbar-nav .nav-item a:hover {
  color: #787be8 !important;
}

/*Menu*/


/*Липкое меню*/


/*Липкое меню*/



/* NUMBER AND SOCIAL MEDIA */

.number_social {
  font-family: "Roboto";
  padding: 15px 0px;
  background-color: #787be8;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.number_social a:hover {
  color: #ddd;
}

.number_size {
  font-size: 20px;
}


/*Footer start*/

.bg-dark-1 {
  background-color: #EB9240;
}

.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}

.pt-11,
.py-11 {
  padding-top: 5rem !important;
}

footer .footer-box {
  border: 1px rgba(255, 255, 255, 0.1) solid;
  padding: 18px 20px 20px 20px;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.font-w-5 {
  font-weight: 500;
}


/*Footer end*/


/*Icons Start*/

.bg-pink-light {
  background-color: #787be8;
  color: #fff;
}

.bg-pink-light h5 {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-top: 10px;
}

.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}

.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}

.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}


/*Icons end*/

.rus {
  margin-left: 20px;
  padding: 0px 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.fb_vk_ig a {
  padding-left: 21px;
}

.number_social img {
  width: 30px;
}


/* NUMBER AND SOCIAL MEDIA */


/*--------NAV-------*/

nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}

.navbar-light .container {
  padding: 0px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.search_input {
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.07);
}

.search_button {
  border-radius: 50px;
  border: none;
  outline: none;
  margin-left: -54px;
  color: black;
  transform: scale(-1, 1);
}


/*--------NAV-------*/


/* -------SLIDER-------- */

.slider {
  /* background-position: -50% 250%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/sky-blue.jpg");
}

.circle_sign {
  background: #4c4c4c;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  opacity: 0.4;
}

div img {
  width: 100%;
}

.carousel-item {
  position: relative;
  width: 100%;
}


/*Title prod*/

.new_product h3 {
  color: #02162e;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.4em;
  bottom: 1%;
  left: 50%;
}

.new_product h3:hover {
  color: #787be8;
  cursor: pointer;
}


/*Title prod*/

.carousel-item h2,
h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 75px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.42);
}

.carousel-item div.label {
  position: absolute;
  text-align: left;
  transform: translateY(-50%);
  top: 50%;
  left: 6%;
  width: 100%;
}

.carousel-item h2,
.carousel-item h3 {
  margin: 0px;
  line-height: 50px;
}


/* -------SLIDER-------- */

.block_bg {
  position: relative;
}

.block_bg img {
  opacity: 0.75;
  border-radius: 4px;
}

.cat_block_bg:hover {
  background: none;
}

.cat_block_bg {
  background: rgba(213, 125, 44, 0.3);
  text-transform: uppercase;
}

.cat_block_bg img {
  background-color: #e7c258;
  opacity: 0.75;
  border-radius: 4px;
}

.cat_block_bg {
  background: #e7c267;
}

.text_on_photo {
  position: relative;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}

.text_on_photo img {
  transition: 1s;
  display: block;
  object-fit: cover;
  height: 260px;
}

.text_on_photo img:hover {
  transform: scale(1.2);
}

.text_on_photo h6 {
 /* font-family: "Montserrat";*/
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #ffffff;
  position: absolute;
  bottom: 5%;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 5px;
  background: #000;
}

@media screen and (max-width: 540px) {
  .text_on_photo img {
      object-fit: cover;
      height: 120px;
    }
    .text_on_photo h6 {
        font-size: 0.6rem
    }
    .cat_cat>.col-4{
        padding-right: 2px;
        padding-left: 2px
    }

}


/* ---REVIEWS--- */

.col-center {
  margin: 0 auto;
  float: none !important;
}

.carousel {
  padding: 0 70px;
}

.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
}

.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}


/* ---REVIEWS--- */


/* ------NEWS------ */

.new {
  background-color: #f4f4f4;
  margin: 60px 0px;
}


/* ------NEW------ */


/* -----ICON----- */

.icon {
  font-size: 48px;
}

.text_start h6,
.text_start p {
  text-align: start;
}

.icons {
  padding: 50px 60px;
}


/* -----ICON----- */


/* FOOTER */

footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 25px 0px;
}


/* FOOTER */

.reviews {
  background-color: #f4f4f4;
  margin-bottom: 70px;
}


/*Product Card Start*/

.font_mosterrat {
  font-family: "Montserrat";
  font-size: 0.8rem;
}

.price {
  font-size: 1.4rem !important;
  color: #EB9240 !important;
}


/*Product Card End*/


/* Carousel */

.carousel .carousel-item {
  font-size: 19px !important;
}

.carousel .carousel-item {
  font-size: 0.9rem;
}


/* ---------CATEGORY-------------- */

.category {
  padding-top: 60px;
}

.j_cat_center {
  justify-content: center;
  padding: 5px;
}

.category .inblock {
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.035em;
  color: #ffffff;
}

.category_active {
  background: #787be8;
}

.inblock:hover {
  background: #b9bbff;
  cursor: pointer;
}

.right_padding {
  padding-right: 0px !important;
}

.disabled_link {
  background-color: #b9bbff;
}


/* ---------CATEGORY-------------- */


/*---------- DROPDOWN--------- */

.dropdown-toggle:hover {
  display: block;
  transition: 0.6s;
}


/* --------MEDIA--------- */

@media screen and (max-width: 1140px) {
  .carousel-item h2,
  h3 {
    font-size: 44px;
  }
  .carousel-item h2 {
    top: 35%;
    left: 12%;
  }
  .carousel-item h3 {
    top: 45%;
    left: 12%;
  }
}

@media screen and (max-width: 992px) {
  .carousel-item h2,
  h3 {
    font-size: 32px;
  }
  .carousel-item h2 {
    top: 35%;
    left: 12%;
  }
  .carousel-item h3 {
    top: 45%;
    left: 12%;
  }
  .number_size {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item h2,
  h3 {
    font-size: 26px;
    line-height: 35px !important;
  }
  .number_size {
    font-size: 14px;
  }
  .carousel {
    padding: 0px !important;
  }
  .slider {
    background: none;
  }
}

@media screen and (max-width: 576px) {
  .carousel-item h2,
  h3 {
    font-size: 20px;
    line-height: 35px;
  }
  .number_size {
    font-size: 14px;
  }
  .carousel {
    padding: 0px !important;
  }
  .slider {
    background: none;
  }
}


/* ----------------- */


/*Breadcrumbs*/

.second a:hover {
  color: rgb(0, 183, 255) !important
}

.active-2 {
  color: rgb(0, 183, 255) !important
}

.second span:hover {
  padding-bottom: 21px !important;
  border-bottom: 3px solid rgb(0, 183, 255) !important
}

.breadcrumb>li+li:before {
  content: "" !important
}

.breadcrumb {
  padding: 19px;
  font-size: 14px;
  color: #aaa !important;
  letter-spacing: 2px;
  border-radius: 5px !important
}

.first {
  background-color: white;
}

.fa-caret-right,
.fa-angle-double-right {
  font-size: 20px !important
}

.fa-caret-right {
  vertical-align: middle
}

.four ol {
  background-color: rgb(51, 0, 80) !important
}

@media (max-width: 767px) {
  .breadcrumb {
    font-size: 10px
  }
  .breadcrumb-item+.breadcrumb-item {
    padding-left: 0
  }
  .fa {
    font-size: 9px !important
  }
  .breadcrumb {
    letter-spacing: 1px !important
  }
  .breadcrumb>* div {
    max-width: 60px
  }
}


/*Breadcrumbs End*/


/*Srvice Page*/

@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
.sizeUbu {
  font-family: 'Ubuntu', sans-serif
}

.sizeUbu img {
  width: auto;
}

.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 60px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all .4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17)
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
}

.our-services a:hover {
  color: #fff
}

.our-services a {
  text-decoration: none
}

.our-services p {
  font-style: italic;
}


/*Card*/

.card {
  width: 300px;
  display: inline-block;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2);
  transition: all 0.2s ease;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.card:hover,
.card.hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .3), 0 0 1px 0 rgba(0, 0, 0, .25);
}

.card:hover .card-content,
.card.hover .card-content {
  box-shadow: inset 0 3px 0 0 #C58F25;
  border-color: #C58F25;
}

.card:hover .card-img .overlay,
.card.hover .card-img .overlay {
  background-color: rgba(25, 29, 38, .85);
  transition: opacity 0.2s ease;
  opacity: 1;
}

.card-img {
  position: relative;
  height: 224px;
  width: 100%;
  background-color: #fff;
  transition: opacity 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.card-img .overlay .overlay-content {
  line-height: 224px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.card-img .overlay .overlay-content a {
  color: #fff;
  padding: 0 2rem;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, .4);
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.card-img .overlay .overlay-content a:hover,
.card-img .overlay .overlay-content a.hover {
  background: #EB9240;
  border-color: #EB9240;
}

.card-content {
  width: 100%;
  min-height: 104px;
  background-color: #fff;
  border-top: 1px solid #e9e9eb;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  padding-left: 1rem;
  transition: all 0.2s ease;
}

.card-content a {
  text-decoration: none;
  color: #202927;
}

.card-content h2,
.card-content a h2 {
  font-size: 1rem;
  font-weight: 500;
}

.card-content p,
.card-content a p {
  font-size: 0.8rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(32, 41, 28, .8);
}


/*Card*/





/*Scrool vverh*/
.scroll-top.scroll-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}
.scroll-top a, .scroll-top a:visited {
    font-size: 24px;
    color: #EB9240;
    background: #ffffff;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 10px 55px 5px rgb(137 173 255 / 15%);
    -moz-box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15);
    box-shadow: 0 10px 55px 5px rgb(137 173 255 / 15%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.fa-angle-up:before {
    content: "\f106";
}